@import "tailwindcss";

@theme {

  --font-outfit: var(--font-Outfit);
  --font-header: var(--font-Space-grotesk);

  --color-background: #0f1115;
  --color-foreground: #fff;
  --color-primary: #c6ff00;
  --color-card: #1a1d23;
  --color-border: #252830;
}

@layer components{
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-outfit);
  }

  @media (min-width: 80rem) {
    .container {
        max-width: 80rem !important;
    }
}

}
