@import "tailwindcss";

@theme {

  --font-outfit: var(--font-Outfit);
  --font-header: var(--font-Space-grotesk);

  --color-background: #000000;
  --color-foreground: #fff;
  --color-primary: #c6ff00;
  --color-card: #222630;
  --color-border: #222630;
}

@layer components{
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-outfit);
  }
}
