@import "tailwindcss";
@plugin "daisyui";

@theme {

  --font-outfit: var(--font-Outfit);
  --font-header: var(--font-Space-grotesk);

  --color-background: #0f1115;
  --color-foreground: #fff;
  --color-card: #1a1d23;
  --color-border: #252830;
}

@layer components{
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-outfit);
  }

  .bg-primary{
    background-color: #c6ff00 !important;
  }

  .text-primary{
    color: #c6ff00 !important;
  }


  @media (min-width: 80rem) {
    .container {
        max-width: 80rem !important;
    }
}

}
